---
layout: default
---

<div class="home">

  <h1>About Me</h1>
  <p>Hi, my name is Mike Perrenoud (pronounced per/&#301;/n&#333;). While I do love <a href="http://nodejs.org">Node</a>, I unfortunately can't say I was the inspiration for the name! I'm a 15 year veteran developer with experience ranging from startups to multi-billion dollar enterprises. I'm a polyglot, mentor, and genuinely enjoy helping people and making a difference in their lives.</p>

  <h1>My Contributions</h1>
  <a href="https://www.packtpub.com/web-development/learning-web-development-mean-stack-video">
    <img class="contrib-image" src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/bookretailers/9781784399320.jpg" />
  </a>
  <a href="https://www.packtpub.com/application-development/introduction-aspnet-mvc-6-video">
    <img class="contrib-image" src="https://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/bookretailers/9781785286834.jpg" />
  </a>
  <a href="https://www.amazon.com/UI-Router-Mike-Advanced-Foundation-ebook/dp/B016KZQV24?ie=UTF8&keywords=ui%20router%20with%20mike&qid=1463770867&ref_=sr_1_1&sr=8-1">
    <img class="contrib-image" src="https://images-na.ssl-images-amazon.com/images/I/51BPUmF-twL._SX384_BO1,204,203,200_.jpg" />
  </a>

  <h1>Cheat Sheets</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% if post.category != "cheat-sheets" %}
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% endif %}

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <figcaption>{{ post.description }}</figcaption>

          {% if post.title == "Angular Resource Cheat Sheet" %}
            <script async id="_ck_54568" src="https://forms.convertkit.com/54568?v=5"></script>
          {% endif %}

          {% if post.title == "UI Router Cheat Sheet" %}
            <script async id="_ck_54571" src="https://forms.convertkit.com/54571?v=5"></script>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  <hr/>

  <h1>Angular Directives Demystified</h1>
  <div class="intrinsic-container intrinsic-container-16x9">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PL818UA7VV2jMDeo1TggqWdb-O1WzTbAuB" allowfullscreen></iframe>
  </div>

  <h1>Grunt Demystified</h1>
  <div class="intrinsic-container intrinsic-container-16x9">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PL818UA7VV2jNyypeM6vcGXIqE3oG3eY1d" allowfullscreen></iframe>
  </div>

</div>
